In [1]:
import numpy as np
from numpy import newaxis
from keras.layers.core import Dense, Activation, Dropout
from keras.layers import CuDNNLSTM
from keras.layers.recurrent import LSTM
from keras.models import Sequential
import pickle

C:\Users\ndrs\Anaconda3\lib\site-packages\h5py\__init__.py:34: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters
Using TensorFlow backend.

In [2]:
data=pickle.load(open('processed_data.p', "rb" ))
trial_data=data.loc[data['seatName']=='B5_9_1_05']
trial_data=trial_data.sort_values(['Datetime'])
trial_data=trial_data.drop(['Country','Location','Resource Type','floor','Department','seatName','Datetime'],axis=1)
#trial_data=trial_data.drop(['Country','Location','Resource Type','floor','Department','seatName'],axis=1)
trial_data=np.array(trial_data['Space'])

In [3]:
trial_data

         Space            Datetime
1272         0 2018-03-01 00:00:00
13992        0 2018-03-01 00:10:00
26712        0 2018-03-01 00:20:00
39432        0 2018-03-01 00:30:00
52152        0 2018-03-01 00:40:00
64872        0 2018-03-01 00:50:00
77592        0 2018-03-01 01:00:00
90312        0 2018-03-01 01:10:00
103032       0 2018-03-01 01:20:00
115752       0 2018-03-01 01:30:00
128472       0 2018-03-01 01:40:00
141192       0 2018-03-01 01:50:00
153912       0 2018-03-01 02:00:00
166632       0 2018-03-01 02:10:00
179352       0 2018-03-01 02:20:00
192072       0 2018-03-01 02:30:00
204792       0 2018-03-01 02:40:00
217512       0 2018-03-01 02:50:00
230232       0 2018-03-01 03:00:00
242952       0 2018-03-01 03:10:00
255672       0 2018-03-01 03:20:00
268392       0 2018-03-01 03:30:00
281112       0 2018-03-01 03:40:00
293832       0 2018-03-01 03:50:00
306552       0 2018-03-01 04:00:00
319272       0 2018-03-01 04:10:00
331992       0 2018-03-01 04:20:00
344712       0 2018-03-01 04:30:00
357432       0 2018-03-01 04:40:00
370152       0 2018-03-01 04:50:00
...        ...                 ...
1644109      0 2018-03-31 19:00:00
1658419      0 2018-03-31 19:10:00
1672729      0 2018-03-31 19:20:00
1687039      0 2018-03-31 19:30:00
1701349      0 2018-03-31 19:40:00
1715659      0 2018-03-31 19:50:00
1729969      0 2018-03-31 20:00:00
1744279      0 2018-03-31 20:10:00
1758589      0 2018-03-31 20:20:00
1772899      0 2018-03-31 20:30:00
1787209      0 2018-03-31 20:40:00
1801519      0 2018-03-31 20:50:00
1815829      0 2018-03-31 21:00:00
1830139      0 2018-03-31 21:10:00
1844449      0 2018-03-31 21:20:00
1858759      0 2018-03-31 21:30:00
1873069      0 2018-03-31 21:40:00
1887379      0 2018-03-31 21:50:00
1901689      0 2018-03-31 22:00:00
1915999      0 2018-03-31 22:10:00
1930309      0 2018-03-31 22:20:00
1944619      0 2018-03-31 22:30:00
1958929      0 2018-03-31 22:40:00
1973239      0 2018-03-31 22:50:00
1987549      0 2018-03-31 23:00:00
2001859      0 2018-03-31 23:10:00
2016169      0 2018-03-31 23:20:00
2030479      0 2018-03-31 23:30:00
2044789      0 2018-03-31 23:40:00
2059099      0 2018-03-31 23:50:00

[4464 rows x 2 columns]

In [5]:
train_size = int(len(trial_data) * 0.7)
train, test = trial_data[0:train_size,:], trial_data[train_size:len(trial_data),:]
print(len(train), len(test))

TypeError: unhashable type: 'slice'